<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHwHydgV3PiELkvuVGVWqGZoxQOwG7LNY</string>
	<key>GCM_SENDER_ID</key>
	<string>465587168674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.postrecord</string>
	<key>PROJECT_ID</key>
	<string>bhartifire-524c4</string>
	<key>STORAGE_BUCKET</key>
	<string>bhartifire-524c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465587168674:ios:d748b3a5a5bdc12e6abefb</string>
</dict>
</plist>